h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

img {
    display: block;
    margin: auto;
    width: 500px;
    height: 230px;
    padding: 10px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
}

body {
    background-color: rgba(15, 158, 158, 0.450);
}

main {
    background-color: #071833;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: rgda(3, 3, 5, 0.300);
}

p {
    text-align: justify;
    padding: 5px;
}